body{
    background-image: url(https://cdn.pixabay.com/photo/2018/01/23/18/04/love-3102033__340.png);
    font-family: Arial;
    text-align: center;
}

h1{
    font-family: Garamond;
}

img{
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

.carta {
    color:white;
    text-shadow: 0.1em 0.1em 0.2em black;
    width: 50%;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    border: none;
}

#lista{
    text-shadow: 0.1em 0.1em 0.4em black;
    width: 50%;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

#lista li{
    list-style-type: none;
}

#lista li:hover {
    opacity: 6;
    color: rgb(236, 235, 144);
    font-style: italic;
}

#carac {
    float: center;
}

.ancoras {
    background-color: rgba(255,255,255,0.5);
    margin: 20px;
    display: none;
    text-shadow: 0.1em 0.1em 0.4em black;
    border: none;
    border-radius: 5px;
}